.dialog-form-container {
  width: 100%;
  height: auto;

  h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }

  mat-dialog-content {
    max-height: 900px;
    overflow-y: auto;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;

    mat-form-field {
      width: 100%;
      margin-bottom: 20px;
      max-width: 800px;
      height: 100px;
    }

    mat-checkbox {
      width: 100%;
      margin-bottom: 20px;
      max-width: 800px;
    }

    mat-dialog-actions {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      margin-top: 20px;

      button {
        margin-left: 10px;
        min-width: 100px;
      }
    }
  }
}
